@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	margin:0;
	padding:0;
}

body {
	box-sizing:border-box;
	height:100vh;
	background-color:#8c52ff;
	color:white;
}

strong{
	color:#00ff03;
}

.apresentacao{
	display:flex;
	margin:10%;
	align-items:center;
	justify-content:space-evenly;
}

.apresentacao__texto{
	width:40rem;
}

.apresentacao__texto__titulo{
	font-family:'Krona One', sans-serif;
	font-size:2rem;
}

.apresentacao__texto__paragrafo{
	font-size:1.1rem;
	font-family:'Montserrat', sans-serif;
}

.apresentacao__texto__botoes{
	display:flex;
	justify-content:center;
	font-family:'Montserrat', sans-serif;
	padding:1rem;
	font-size:1.8rem;
	font-weight:600;
	align-items: center;
}

.apresentacao__texto__botoes__link{
	display:flex;
	text-decoration:none;
	background-color: #00ff03;
	color:white;
	border-radius:16px;
	width:14rem;
	height:4.5rem;
	text-align:center;
	margin:0.5rem;
	border:2px solid white;
	align-items:center;
	justify-content: center;
}
